@import "../node_modules/bootstrap/scss/bootstrap";

.flush-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.inline-comma-list {
    display: inline;
    list-style: none;
    padding: 0;
}

.inline-comma-list li {
    display: inline;
}

.inline-comma-list li::after {
    content: ", ";
}

.inline-comma-list li:last-child::after {
    content: "";
}

.cover-image-container {
    position: relative;
    overflow: hidden;
}

.cover-image-container:after {
    content: '';
    display: block;
    padding-top: 150%;
}

.cover-image-container img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.cover-image-container p {
    width: auto;
    width: 100%;
    max-width: none;
    position: absolute;
    padding: 1em 0.5em;
}