

@import "../node_modules/bootstrap/scss/bootstrap";

html {
    overflow-y: scroll;
}

.flush-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.inline-comma-list {
    display: inline;
    list-style: none;
    padding: 0;
}

.inline-comma-list li {
    display: inline;
}

.inline-comma-list li::after {
    content: ", ";
}

.inline-comma-list li:last-child::after {
    content: "";
}

.cover-image-container {
    position: relative;
    overflow: hidden;
}

.cover-image-container:after {
    content: '';
    display: block;
    padding-top: 150%;
}

.cover-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
}

.cover-image-container .book-cover-text {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: none;
    padding: 1em 0.5em;
}

.book-card {
    position: relative;
}

.book-card .read-link {
    display: none;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    padding: 0.5em;
    background-color: rgba(0,0,0,0.9);
    z-index: 10;
    font-weight: bold;
}

.book-card:hover .read-link {
    display: block;
}

.search-toggle-container {
    position: relative;
}

.search-toggle {
    background-color: white;
    padding: 0.5em;
    position: relative;
    line-height: 0.8em;
    top: -60%;
}

.search-toggle[aria-expanded="true"]:after {
    content: '\25B4'
}

.search-toggle[aria-expanded="false"]:after {
    content: '\25BE'
}

.flex-break {
    width: 0;
    flex-basis: 100%;
}

table .w-40 {
    width: 40%;
}

table .w-30 {
    width: 30%;
}

table .w-20 {
    width: 20%;
}

table .w-10 {
    width: 10%;
}