{% extends 'base.html' %}

{% from 'macros.html' import author_list, tag_list, column_header %}

{% block title %}Hello World!{% endblock %}

{% block content %}
{% if not current_user.gdrive_permission_granted %}
  <p>You will need to authorize access to Google Drive to manage your ebooks.<p>
  <a href="{{url_for('gdrive_authorize')}}" id="gdrive_authorize" class="btn btn-primary">Authorize</a>
{% else %}
  {% if books %}
    {% if request.args.view == 'list' %}
      {% include 'book/list-table.html' %}
    {% else %}
      {% include 'book/list-grid.html' %}
    {% endif %}
  {% else %}
    <p class="text-center">There are currently no books in your library.</p>
    <a class="btn btn-primary" href="/upload">Upload Book</a>
  {% endif %}
{% endif %}
{% endblock %}