{% extends 'base.html' %}

{% from 'macros.html' import author_list, tag_list, column_header, search_title %}

{% set page_title = search_title(search_meta) %}

{% block title %}UBP | {{page_title}}{% endblock %}

{% block content %}
{% if not current_user.gdrive_permission_granted %}
  <p>You will need to authorize access to Google Drive to manage your ebooks.<p>
  <a href="{{url_for('gdrive_authorize')}}" id="gdrive_authorize" class="btn btn-primary">Authorize</a>
{% else %}
  <h2 class="text-center">{{page_title}}</h2>
  <div class="row">
    {% include 'book/search-form.html' %}
  </div>
  {% if books %}
    {% include 'book/view-select.html' %}
    {% if session.view == 'list' %}
      {% include 'book/list-table.html' %}
    {% else %}
      {% include 'book/list-grid.html' %}
    {% endif %}
  {% else %}
    <p class="text-center">There are currently no books in your library.</p>
    <a class="btn btn-primary text-center" href="/upload">Upload Book</a>
  {% endif %}
{% endif %}
{% endblock %}